/* Enable Smooth Scrolling for HTML */
html {
  scroll-behavior: smooth;
  /* Apply smooth scrolling behavior for anchor links */
}

/* General Styles */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 2.0;
  margin: 0;
  font-size: 18px;
}

/* Header Styles */
header {
  background: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: monospace;
  padding: 20px 0;
  border-bottom: 1px solid #00000059;
}

/* Navigation Styles */
.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: inherit;
  font-size: 17px;
  color: #000006bd;
}

/* .nav-link Styles */
.nav-link {
  padding: 5px 20px;
}

/* Portfolio Title Styles */
.portfolio {
  font-size: 35px;
  font-family: fantasy;
  text-align: center;
  padding-top: 30px;
}

/* Highlight Styles */
.highlight {
  color: #0a0909;
  font-weight: bold;
  display: contents;
}

/* Main Styles */
main {
  margin-bottom: auto;
}

/* #name Style */
#name {
  font-family: inherit;
  font-size: 27px;
  transform: scale(1.0);
}

/* h1 Styles */
h1 {
  text-shadow: 8px 7px 12px rgba(0, 0, 0, 0.3);
}

/* h2 Styles */
h2 {
  text-shadow: 8px 7px 12px rgba(0, 0, 0, 0.3);
  background: #eeeeee;
  width: 100%;
  display: block;
  text-align: center;
  padding: 20px;
  font-size: 40px;
  font-family: fantasy;
}

/* My Work Section Paragraph Strong Styles */
.myWorkSection p strong {
  transform: scale(1.5);
  /* Apply a scaling effect to the strong element within paragraphs */
}

/* Container Styles */
.contenier {
  display: flex;
  justify-content: space-between;
  padding: 25px 40px;
  padding-inline-start: 15px;
  border-bottom: 1px solid #00000059;
}

/* About me Styles */
.aboutme {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  font-family: fantasy;
  letter-spacing: 5px;
  text-shadow: 8px 7px 12px rgba(0, 0, 0, 0.3);
}

/* About Me Styles */
.aboutMe {
  display: flex;
  align-items: center;
  width: 55%;
}

/* Image Wrapper Styles */
.imageWrapper {
  width: 30%;
  position: relative;
  padding-top: 30%;
  margin: auto;
}

/* Image Wrapper img Styles */
.imageWrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 50%;
}

/* Footer Styles */
footer {
  background: #eeeeee;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 17px;
  text-transform: uppercase;
  border-top: 1px solid;
  padding: 20px;
  flex-direction: column;
}

/* Contact Form Styles */
#contact-form {
  display: flex;
  gap: 15px;
}

/* My Work Section Paragraph Styles */
.myWorkSection p {
  width: 40%;
  padding: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
}

/* My Work Section Styles */
.myWorkSection {
  margin-top: 20px;
}

/* Photo Row Styles */
.photo-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  margin: 20px;
}

/* Photo Styles */
.photo,
.photo1 {
  width: 55%;
  border-radius: 15px;
  margin: auto;
  box-shadow: 15px 5px 20px 11px rgba(2, 2, 2, 50%);
}
.photo1{
  width: 45%;
}
/* Photo Links Styles */
.photo-links {
  /* Make the photo links part of the document outline */
  display: contents;
}

/* Link Focus Styles */
a:focus {
  outline: 2px solid rgb(100, 100, 112);
  box-shadow: inset 0 0 10px rgba(24, 24, 228, 0.274);
  border-radius: 5px;
}


/* Responsive Design Styles */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    /* Arrange header items in a column on smaller screens */
    text-align: center;
    /* Center align text within the header */
    padding: 20px;
    /* Add padding to the header */
  }

  /* Styles for the main container */
  .contenier {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }

  /* Styles for the 'aboutMe' and 'bold' classes */
  .aboutMe{
    width: 100%;
  }

  .aboutMe,
  .bold {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }


  /* Styles for the 'photo-row' class */
  .photo-row {
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  /* Styles for paragraphs within the 'myWorkSection' class */
  .myWorkSection p {
    width: 100%;
    padding: 20px;
  }

  /* Styles for the 'photo' and 'photo1' classes */
  .photo,
  .photo1 {
    width: 80%;
    margin-bottom: 20px;
  }
}

/* Style for footer links */
.footer-link {
  position: relative;
  text-decoration: none;
  color: #151615;
  /* Set the color of the link text */
}

/* Style for the tooltip pseudo-element */
.footer-link::after {
  content: attr(data-tooltip);
  position: absolute;
  background: #333;
  color: #fff;
  padding: 5px 25px;
  border-radius: 5px;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  /* Set initial opacity to 0 (invisible) */
  transition: opacity 0.3s ease-in-out;
  /* Add a smooth transition for opacity changes */
  pointer-events: pointer;
  background-color: #234242;
}

/* Show the tooltip when hovering over the link */
.footer-link:hover::after {
  opacity: 1;
  /* Make the tooltip visible on hover */
}


/* Set overflow-clip-margin to content-box to determine how the element's content clips overflow */
/* Set overflow to clip to indicate that no scrollbars should be shown if content overflows */
img {
  overflow-clip-margin: content-box;
  /* overflow: clip; */

  /* Apply a smooth transition effect on the transform property over 0.3 seconds with ease timing function */
  transition: transform 0.3s ease;

  /* Apply a drop shadow to the image for a subtle elevation effect */
  filter: drop-shadow(2px 4px 6px darkgray);
}

/* Change image style on hover */
.myWorkSection img:hover {
  filter: grayscale(0%);
  /* Remove grayscale filter on hover */
  transform: scale(1.1);
  /* Add a slight scale effect on hover */
}

/* Change image style when clicked (active) */
.myWorkSection img:active {
  filter: grayscale(0%);
  /* Remove grayscale filter when clicked */
  transform: scale(1.2);
  /* Add a larger scale effect when clicked */
}